*{
}
body{
margin: 0; font-family: lato; font-size: 16px; font-family: 'Lora', serif; color: #272727;
}
header{
position: fixed; width:100%; height:60px; background: linear-gradient(-60deg, #7b73ad 0%, #f9f9f9 100%); background: #36465d; z-index: 900; box-shadow:0px 1px 5px 0px rgba(54, 70, 93, 0.46);
}
.vm{
position: relative; width:85px; display: inline-block; vertical-align: middle;
}
.incenter{
position: relative; top:50%; left:50%; transform: translate( -50% , -50% );
}
