
body{
margin: 0; font-family: lato; font-size: 16px;
}
header{position: fixed;width: 100%;height: 54px;background: #ff2241;z-index: 900;border: 1px solid #ff2241; font: 14px/1.5 Arial;
}
.mm{
position: relative;background: #f7f7f7; top: 50px;
}
.mid{
width:75%; position: relative; margin: auto;
}
.container{
width:60%; background: #f5f5f5; position: relative; box-sizing:border-box; padding: 20px;top: 25px; 
}
a{text-decoration: none;}
.explore{
width:40%; position: absolute; top: 25px; right:0;box-sizing:border-box; padding: 20px;background: #fff;
    box-shadow: 0 4px 17px 0 rgba(0,0,0,0.1);border-radius: 3px;z-index: 52;
}
.article{
overflow: hidden; border-radius: 10px; box-shadow: 1px 1px 6px -3px #7d7d7d; margin-bottom: 20px; background:white;
}
.artimg{
height:250px; width: 100%; overflow: hidden; background-position: center; background-size: cover; position: relative;
}
.arttit{
padding:15px 20px; position: relative;min-height: 42px;
}
.artit{
font-size: 25px; font-weight: bold; color: #3e3e3e;
}
.artres{
position: absolute;display: inline;top: 35px; right: 7px;width: 80px;
}
.vm{
position: relative; width:24px; top:13px; display: inline-block;
}
.incenter{
position: relative; top:50%; left:50%; transform: translate( -50% , -50% );
}
input{
height: 35px;
    font-size: 16px;
	padding:3px;
}
#login{
	height: 30px;
    width: 76px;
    background: #54a8b1;
    color: white;
}
.lgo{vertical-align: middle; height:50px; width:50px}
button{
    width: 75px;
text-align: center;
padding: 6px;
border-radius: 4px;
outline:none;
background: #3f3f3f;
color: white;
cursor: pointer;
touch-action: manipulation;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857;
    border-color: #2e6da4;
}
.lgo+span{ font-size: 25px;color: #FFF;}
.lgin{display:inline-block;margin-left:40%;margin-top: 10px;}
svg:hover{
fill:#4daf4d;
}
.fb{fill:#254590;}
.tw{fill:#1DA1F2;}
.so{fill:#f48023;}
.lin{fill:rgb(34, 114, 185);}
.gi{fill:#0d2636;}
@media screen and (max-width:959px)
{
	.explore{display:none;}
	.lgin{display: -webkit-inline-box;margin-left: 0%;margin-top: 10px;width: 209px;}
	.container {width: 100%;}
	button{height: 23px;width: 46px;font-size: 10px;padding: 0px; margin-left: 6px;}
	.artit {font-size: 16px;}
	svg{height: 20px;fill: tomato;}
	.artres {top: 23px;right: 50%;}
	.vm{display: -webkit-inline-box;}
	.mid{width: 90%;}
	svg+div{padding-left:3px;}
	input{height: 20px;font-size: 10px;width: 67px;margin-left: 11px;}
	.lgo{height: 35px;width: 32px;}
	#login{width: 52px;background: #54a8b1;color: white;font-size: 12px;height: 24px;}
	.lgo+span{font-size: 13px;}
}
