body{
background: #36465d; margin:0px; font-family:lato; font-size:100%;
}
a{
text-decoration:none;
color:white;
}
.head{
height:50px; width:100%; position:fixed; background:white; z-index:400; box-shadow: 0 0 8px #2D3848
}
.navigation{
width:100%;
height:48px;
background: #131313
}
.one{
color: #555;
 font-family: Shentox,sans-serif;
 font-weight: 500;
    text-transform: uppercase;
    color: #AAA;
    display: block;
    height: 48px;
    letter-spacing: .04em;
    line-height: 1;
    padding: 18px 10px 0;
	float:left;
	//position:relative;
}
.half{
border:2px solid white;
overflow:hidden;
display:block;
top:4px;
 background-position: center center;
}
.news{
color: #F42;font-size: 28px;vertical-align: baseline;
    font-family: Avalon,sans-serif;
	letter-spacing: -.015em;
	font-weight:700;
	margin-left:50px;
}
.news:hover{
color:#000;
    font-family: Avalon,sans-serif;
}
.cre{ 
 font-family: Avalon,sans-serif;
color: #F42;font-size: 14px;
}
.two{
display:inline-block;
 position:relative;
padding:15px;
}
.gradient{
background:url(http://localhost/try/Unnamed%20Site%202/gra1.png) top left no-repeat;
    background-size: cover;
    bottom: 4px;
    left: 4px;
    mix-blend-mode: lighten;
    right: 4px;
    top: 4px;
    z-index: 4;
}
.cover-title{
font-size:40px;
color:white;font-family: Avalon,sans-serif;
background:url(http://localhost/try/Unnamed%20Site%202/gra1.png) top left no-repeat;
mix-blend-mode: lighten;
gradient:black;
}
.cover-title2{
font-size:20px;
color:white;font-family: Avalon,sans-serif;
background:url(http://localhost/try/Unnamed%20Site%202/gra1.png) top left no-repeat;
mix-blend-mode: lighten;
gradient:black;
}
.nw{
background: url(http://localhost/try/Unnamed%20Site%202/gra2.png) repeat rgba(0,0,0,.25);
background-size: 100% 100%;
    display: block;
    top: 4px;
    will-change: background-color;
    z-index: 2;
}
.river .tags {
    position: absolute;
    left: 0;
    width: 6em;}
	.tag {font-size:18px;
    padding: .8em;
    margin-right: .5em;
    line-height: 1;
    display: inline-block;
    background: #F42;
    color:white ;
	font-weight:700;
    position: relative;
	font-family: Avalon,sans-serif;
	}
	.lis{
	height:250px;
	}
	.half1{
	position: absolute;
    height: 293px;
    width: 45%;
    margin-left: 0px;
    top: 6%;
    background: url(http://localhost/try/Unnamed%20Site%202/pic1.jpg);
    background-position: center;
    background-color: #000;
	}
	.half2{   
	position: absolute;
    height: 135px;
    width: 45%;
    margin-left: 47%;
    top: 5%;
    background: url(http://localhost/try/Unnamed%20Site%202/pic2.gif);
    background-position: center;
    background-color: #000;
	}
	.half3{
	position: absolute;
    height: 135px;
    width: 25%;
    margin-left: 47%;
    margin-top: 13%;
    background: url(http://localhost/try/Unnamed%20Site%202/pic3.gif);
    background-position: center;
    background-color: #000;
	}
	.half4{
	position: absolute;
    height: 135px;
    background: url(http://localhost/try/Unnamed%20Site%202/pic3.gif);
    background-position: center;
    background-color: #000;
    width: 19%;
    margin-left: 73%;
    margin-top: 13%;
	}
		@media screen and (max-width:959px)
{
	.half1{height: 100px;width: 100%;position:inherit;background-size: cover;}
	.half{margin: 0px; width: 100%;}
	.half2{position:inherit;background-size: cover;width: 100%;}
	.half3{position:inherit;background-size: cover;width: 100%;}
	.half4{position:inherit;background-size: cover;width: 100%;}
	span.cover-title2{font-size:20px;}
	span.cover-title{font-size:20px;}
	
}
